@import "@constants/colors.scss";

.input{
    background-color: $light;
    color: $primary;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px $medium solid;
    font-family: "Medium";

    &::placeholder{
        color: $medium;
    }
}