@import '@constants/colors';

.main {
	display: flex;
	justify-content: space-between;
}

.main__data-container {
	padding: 20px;
	box-shadow: 13px 13px 29px #dfdfdf;
	background-color: $light;
	width: 330px;
	row-gap: 15px;
	height: 500px;
	border-radius: 10px;
	overflow: scroll;
	.data-card {
		margin-top: 15px;
	}
}
