.order-modal{
    display: flex;
    flex-direction: column;
    justify-self: start;
    row-gap: 20px;
}

.order-modal__info{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;
    color: black;
}